In [1]:
import pandas as pd
import numpy as np

In [2]:
dtypes = pd.DataFrame(
    {
        'Type': [
            'int8',
            'uint8',
            'int16',
            'uint16',
            'int or int32',
            'uint32',
            'int64',
            'uint64',
            'float16',
            'float32',
            'float or float64',
            'float128',
            'complex64',
            'complex or complex128',
            'bool',
            'object',
            'string_',
            'unicode_',
        ],

        'Type Code': [
            'i1',
            'u1',
            'i2',
            'u2',
            'i4 or i',
            'u4',
            'i8',
            'u8',
            'f2',
            'f4 or f',
            'f8 or d',
            'f16 or g',
            'c8',
            'c16',
            None,
            'O',
            'S',
            'U',
        ]
    }
)

In [3]:
dtypes

                     Type Type Code
0                    int8        i1
1                   uint8        u1
2                   int16        i2
3                  uint16        u2
4            int or int32   i4 or i
5                  uint32        u4
6                   int64        i8
7                  uint64        u8
8                 float16        f2
9                 float32   f4 or f
10       float or float64   f8 or d
11               float128  f16 or g
12              complex64        c8
13  complex or complex128       c16
14                   bool      None
15                 object         O
16                string_         S
17               unicode_         U

In [4]:
arr = np.array([1,2,3], dtype = 'f4')

In [5]:
arr.dtype

dtype('float32')

In [6]:
arr = np.array([1,2,3], dtype='float32')
arr.dtype

dtype('float32')

In [9]:
arr = np.array([1+2j, 3-4j], dtype=np.complex64)
arr.dtype

dtype('complex64')

In [10]:
arr = np.array([1+2j, 3-4j], dtype=np.c8)
arr.dtype

AttributeError: module 'numpy' has no attribute 'c8'

In [11]:
arr = np.array([1,2,3], dtype='int16')
print('Original Data Type: ' + str(arr.dtype))

arr = arr.astype(np.float32)
print('Data type After Conversion: ' + str(arr.dtype))

Original Data Type: int16
Data type After Conversion: float32

In [13]:
arr = np.array([126,127,256], dtype='int16')
print('np array before type conversion: ' + str(arr))

arr = arr.astype('int8')
print('np array after type conversion: ' + str(arr))

np array before type conversion: [126 127 256]
np array after type conversion: [126 127   0]

In [14]:
s = np.array(['abc','defg'], dtype='S3')
print(s)

s = np.array(['abcd', 'efghi'], dtype='U3')
print(s)

[b'abc' b'def']
['abc' 'efg']

In [16]:
arr = np.array(['a', 'ab', 'abc'], dtype=np.string_)
print('The array is' + str(arr))
print('The data type is ' + str(arr.dtype) + 'Because the longest string in the array is "abc and its length is 3"')

arr = np.array(['a', 'abc', 'abcd'], dtype=np.unicode_)
print('The array is' + str(arr))
print('The Data type is' + str(arr.dtype) + ' because the longest unicode in the array is "abcd" and its length is 4.')

The array is[b'a' b'ab' b'abc']
The data type is |S3Because the longest string in the array is "abc and its length is 3"
The array is['a' 'abc' 'abcd']
The Data type is<U4 because the longest unicode in the array is "abcd" and its length is 4.